body {
    font-family: Arial, sans-serif;
    background-image: url('templates\images\dooddle.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5; /* Opacity of 50% */
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.output {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.emoji {
    font-size: 48px;
}
